<div class="top">
  <h1><%= @task.title %></h1>
  <button><i class="fa fa-edit"></i><%= link_to "Edit task", edit_path %></button>
</div>
<div class="details">
  <h3><%= @task.details %></h3>
</div>

<p><input type="checkbox" <%= "checked" if @task.completed %>><%= @details %></p>
<button><%= link_to "Back", tasks_path %></button>


